<button type="button" class="btn btn-outline-dark mr-3" data-toggle="modal" data-target="#ModalRegister">
  Register
</button>
<button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#ModalLogin" id="login-btn">
  Login
</button>
