<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="icon" type="image/png"
    href="https://www.iconarchive.com/download/i90773/icons8/windows-8/Food-Restaurant-2.ico" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/scroll.js"></script>
</head>

<body>
  <!-- nav bar -->
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-light">
      <a class="navbar-brand" id="nav-brand" href="/">Kevin Bacout</a>
      <a class="navbar-brand" id="nav-brand" href="#menu">Menu</a>
      <div class="collapse navbar-collapse" id="nav-bar">
        <div class="navbar-nav" id="login-options">
          <% if(user) { %>
          <%- include('partials/logoutHeader') %>
          <% } else { %>
          <%- include('partials/loginHeader') %>
          <% } %>
        </div>
      </div>

      <div class="dropdown" id="cart">
        <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#ModalCart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart
          <span class="badge badge-pill badge-danger">3</span>
        </button>
      </div>
    </nav>
  </header>
  <!-- Modal Register Markup -->
  <div id="ModalRegister" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-lg-center">Register</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="register-form">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
              <label class="control-label">Username</label>
              <div>
                <input type="text" class="form-control input-lg" name="username" value="" placeholder="Username">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">E-Mail Address</label>
              <div>
                <input type="email" class="form-control input-lg" name="email" value="" placeholder="example@email.com">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <div>
                <input type="password" class="form-control input-lg" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Phone Number</label>
              <div>
                <input type="text" class="form-control input-lg" name="phone" placeholder="416-420-6969">
              </div>
            </div>
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          Welcome to Kevin Bacout!
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  </div>

  <!-- Modal Login Markup -->
  <div id="ModalLogin" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-lg-center">Log in</h4>
        </div>
        <div class="modal-body">
          <form role="form" id="login-form">
            <input type="hidden" name="_token" value="">
            <div class="form-group">
              <label class="control-label">E-Mail Address</label>
              <div>
                <input type="email" class="form-control input-lg" name="email" value="" placeholder="example@email.com">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <div>
                <input type="password" class="form-control input-lg" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer text-xs-center mr-3">
          Don't have an account? <a class="ml-3" data-target="#ModalRegister" data-toggle="modal" data-dismiss="modal"
            href="#ModalRegister">Sign up »</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <!-- add main container here -->
  <main class="landing-page">
    <div class="welcome-container">
      <p>Welcome to Kevin Bacout!</p>
      <a class="btn btn-light" href="#menu">Order Now!</a>
    </div>
  </main>
  <div class="container py-5" id="menu">
    <div class="row">
      <div class="col-lg-10 mx-auto col-12 text-center mb-3">
        <h1 class="mt-0 mb-3 text-info">Our Menu</h1>
        <p class="lead">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum
          cupiditate nostrum impedit minus corporis. Exercitationem nesciunt
          excepturi dolorem est sint, cumque sed enim corporis ab, omnis
          neque, sit vitae iure.
        </p>
      </div>
      <div class="col-12 mt-4">
        <h3 class="text-center">Meals</h3>
        <hr class="accent my-5" />
      </div>
      <div class="card-columns col-12" id="menu-container">
      </div>
    </div>
  </div>

  <div class="modal fade" id="ModalCart" tabindex="-1" role="dialog" aria-labelledby="ModalCartLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title" id="exampleModalLabel">
            Your Shopping Cart
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <table class="table table-image">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Product</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Total</th>
                <th scope="col">Remove</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="w-25">
                  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png"
                    class="img-fluid img-thumbnail" alt="Sheep">
                </td>
                <td style="padding-top: 60px;">Vans Sk8-Hi MTE Shoes</td>
                <td style="padding-top: 60px;">$89</td>
                <td style="padding-top: 54px;" class="qty table-padding"><input type="text" class="form-control"
                    id="input1" value="2"></td>
                <td style="padding-top: 60px;">$178</td>
                <td style="padding-top: 47 px;">
                  <a href="#" class="btn btn-danger btn-sm">
                    <i class="fa fa-times"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="cart-total">
            <div class="row">
              <div class="col-10">
                <h5>SubTotal: </h5>
              </div>
              <div class="col-2">
                <div class="text-success">$89.00</div>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <h5>Fees & Taxes: </h5>
              </div>
              <div class="col-2">
                <div class="text-success">$10000.00</div>
              </div>
            </div>
            <div class="row">
              <div class="col-10">
                <h5>Total: </h5>
              </div>
              <div class="col-2">
                <div class="text-success">$94.00</div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer border-top-0 d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success">Checkout</button>
        </div>
      </div>
    </div>
  </div>
  <button id="scroll-btn"><i class="fa fa-shopping-cart"></i></button>
  <footer class="footer-basic-centered">
    <img src="https://www.biography.com/.image/t_share/MTE5NDg0MDU1MTkwNjAzMjc5/kevin-bacon-9542173-1-402.jpg" alt=""
      class="img-thumbnail">
    <p class="footer-company-motto">"Don't Bac-in... Bac-out."</p>

    <p class="footer-links">
      <a href="/">Home</a>
      ·
      <a href="#menu">Menu</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Kevin Bacout &copy; 2020</p>

  </footer>

</body>

</html>
